.cities-container {
    margin: 10px 20px;
    display: grid;
    grid-gap: 3px;
}
.header-label {
    margin-top: 10px;
    text-align: left;
    font-size: 0.7em;
    color: #777;
}
.weather {
    border: 3px double #ccc;
    display: inline-table;
    padding: 10px 20px;
    background-color: #eee;
    color: #555;
}